
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid;
    
}
.red{
    color: red;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px 1px#ffffff;
}
h2{
    font-weight: 400;
    color: rgb(79, 72, 72);
    font-family:Arial, Helvetica, sans-serif;
}
.content{
    padding: 30px;
    margin: 20px 210px ;
    border: 1px solid;
    background-color: rgb(168, 168, 201);
    margin-top: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    z-index: 0;
}
form{
    margin-top: 50px;
    row-gap: 20px;
}
input{
    margin-left: 10px;
    padding-left: 10px;
}
.error{
    color: red;
    margin-left: 4rem;
}

.personal-details , .contact-details , .address-details , .other-details{
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    height: 140px;
}

 section{
    padding: 18px;
    font-size: 1rem;
}


.personal-details:hover , .contact-details:hover , .address-details:hover , .other-details:hover{
    box-shadow: 2px 2px 2px 2px #ffffff;
}

.btns{
    margin-top: 30px;
    margin-left: 45rem; 
}
.btns span{
    padding: 8px;
}
.cancel-btn{
    padding: 15px 25px;
    border: 1px solid red;
    color: red;
    font-weight: bold;
}
.cancel-btn:hover{
    background-color: red;
    color: #ffffff;
}

.submit-btn{
    padding: 15px 25px;
    border:1px solid green;
    color: green;
    font-weight: bold;
}

.submit-btn:hover{
    background-color: green;
    color: #ffffff;
}

.message{
    position: relative;
    top: 15rem;
    left: 18rem;
    z-index: 1;
}


